@import url(https://fonts.googleapis.com/css?family=Bangers);

.board {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.board .score-board {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .score-board .score {
  display: flex;
  flex-flow: column;
  margin: 0 20px;
}

.board .score-board .score .points {
  font-size: 60px;
}

.board .score-board .restart-button {
  border: none;
  background-color: #09d3ac;
  padding: 10px 15px;
  margin: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.board .game-board {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board .game-board.won {
  filter: blur(3px);
}

.board .won-message {
  position: absolute;
  text-align: center;
  font-weight: normal;
  color: #e8870e;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  transform: skew(0, -6deg);
}

